.sort-opt
  %span Sorted by:
  = sortable "title"
  = sortable "year"
%table.table-bordered
  %tbody
    - @movies.each do |movie|
      / - movie.poster.nil? ? poster_link = "https://placekitten.com/g/40/60" : poster_link = movie.poster
      %tr
        %td
          %div= link_to image_tag(movie.poster.url), movie
        %td
          = link_to movie.title, movie
          %span
            (#{movie.year}), #{movie.country}
