.row
  .col-md-4
    .row
      .col-sm-6.col-md-12
        .card.poster
          = image_tag @movie.poster.url 
      .col-sm-6.col-md-12
        .card
          = render 'movie_ratings/ratings'
  
  .col-md-8
    .col-sm-12
      .row
        .card
          .movie-details
            %h1
              %span= @movie.title
              %span
                (#{@movie.year})
            %p= @movie.plot
            %div
              %table.table
                %tr
                  %th Director:
                  %td= @movie.director
                %tr
                  %th Runtime:
                  %td= @movie.runtime
                %tr
                  %th Actors:
                  %td= @movie.actors
                %tr
                  %th Genre:
                  %td= @movie.genre
                %tr
                  %th Awards:
                  %td= @movie.awards
      .row
        = render 'reviews/reviews'
        = render 'reviews/form'
