<div class="reviews">
  <% @reviews.each do |review| %>      
    <div class="review <%= 'downvoted' if review.votes <= -2 %>">
      <table>
        <tr class="rev-title">
          <td colspan="2">
            <h4><%= review.title %></h4>
            <em>author: <%= review.user.username %> | posted: <%= time_ago_in_words(review.created_at) %> ago.</em>
          </td>     
        </tr>
        <tr class="rev-content">
          <td class="content"><%= review.content %></td>
          <td>
            <span class="pull-right">
              <%= render "shared/votes", review: review %>
        
              <% if user_signed_in? %>  
                |
                <%= link_to 'add comment', 'javascript:void(0)', class: "toggle-new-comment" %>
              <% end %>
            </span>
          </td>
        </tr>
      </table>
    </div>
    <div class="comments">
      
      <%= render partial: "comments/comment", collection: @comments.where(review_id: review.id) %>   
      <%= render partial: "comments/toggle_comments", locals: { review: review } %>  
      <%= render partial: "comments/form", locals: { review: review } %>
  
    </div>
  <% end %>
</div>
