.reviews
  - @reviews.each do |review|
    .card
      %div{:class => "review #{'downvoted' if review.votes <= -2}"}
        %table
          %tr.title
            %td
              %h4
                %span= review.title
                %span 
                  %em
                    author: #{review.user.username} | posted: #{time_ago_in_words(review.created_at)} ago.
            
          %tr.content
            %td= review.content
              
          %tr
            %td
              %span
                = render "shared/votes", review: review
              %span
                - if user_signed_in?
                  |
                  \#{link_to 'add comment', 'javascript:void(0)', class: "toggle-new-comment"}

      .comments
        = render partial: "comments/comment", collection: @comments.where(review_id: review.id)
        = render partial: "comments/toggle_comments", locals: { review: review }
        = render partial: "comments/form", locals: { review: review }
